body {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  height: 10vh;
  width: 100%;
  background: #bfbfbf;
}

#main {
  height: 80vh;
  width: 100%;
}

#footer {
  height: 10vh;
  width: 100%;
  background: #bfbfbf;
  position: fixed;
  bottom: 0;
}

#menu-items {
  display: none;
  margin: 40px 0px 0px 0px;
}

#menu-items > a {
  display: block;
  color: white;
  font-size: 2em;
  padding: 10px 0px 10px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: solid 2px gray;
  margin: 0;
}

@media screen and (max-width: 480px) {
  #side-bar {
    height: 100vh;
    width: 0%;
    background: #737373;
    position: fixed;
    transition: width 0.4s;
    z-index: 1;
  }

  #header {
    display: none;
  }

  #side-bar2 {
    height: 100vh;
    width: 100%;
    background: #a6a6a6;
    position: fixed;
    z-index: 0;
    display: none;
    opacity: 0.9;
  }

  #hambuger {
    height: 10vh;
    width: 100%;
    background: #bfbfbf;
    position: fixed;
  }

  #hambuger-menu {
    display: block;
    padding: 4px 0px;
    border-top: solid 4px;
    width: 7%;
    margin: 30px 0px 0px 16px;
  }

  #line1 {
    border-top: solid 4px;
    border-bottom: solid 4px;
    height: 4px;
  }

  #home-section,
  #projects-section,
  #about-section,
  #blog-section,
  #gallery-section {
    background: whitesmoke;
    padding-top: 6em;
    display: none;
    padding-bottom: 100px;
  }

  #blog-section {
    height: inherit; /* Should be removed*/
  }

  /* Home page style */
  #home-section {
    display: block;
  }

  #sliders {
    height: 30vh;
    background: green;
    width: inherit;
    margin-top: -14px;
  }

  #sliders > img {
    height: 100%;
    width: 100%;
  }

  .card {
    width: inherit;
    display: grid;
    grid-template-columns: 86%;
    justify-content: center;
  }
  .card-item {
    height: 12em;
    background: brown;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 18% 64% 18%;
  }

  .card-header {
    background: aqua;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 3px;
  }

  .card-body {
    background-color: azure;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 0px 4px;
  }

  .card-footer {
    background: aquamarine;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 3px;
  }

  /* Project page style */

  /* About page style */
  #about-section p {
    font-size: 2em;
    padding: 0px 30px;
  }

  #about-section h1,
  #gallery-section h1 {
    font-size: 2.5em;
    padding: 0px 0px 0px 30px;
    margin: 0;
  }

  /* Blog page style */
  .my-blogs {
    padding: 30px;
    font-size: 1.5em;
  }
  .my-blogs li {
    margin-top: 20px;
    list-style-type: circle;
  }

  /* Gallery style */
  #gallery-section figure {
    margin: 20px 30px 0px 30px;
  }

  figure img {
    width: 100%;
  }
}

#main > .hide {
  display: none !important;
}

.show {
  display: block !important;
}
